<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script>
        angular.module('rest', ['ngResource'])
                .factory('Todo', ['$resource', function($resource) {
                    return $resource('/todos/:id', {id: '@id'}, {
                        update: {method: 'PUT'},
                        insert: {method: 'POST'}
                    });
                }])
                .controller('TodosController', ['$scope', 'Todo', function ($scope, Todo) {

                    $scope.todo = new Todo();

                    $scope.todos = Todo.query();

                    $scope.add = function () {
                        if ($scope.todo && $scope.todo.id) {
                            Todo.update($scope.todo);
                        } else {
                            Todo.insert($scope.todo)
                        }
                        $scope.todo = new Todo();
                        $scope.todos = Todo.query();
                    }

                    $scope.edit = function (i) {
                        $scope.todo = $scope.todos[i];
                    }

                    $scope.remove = function (i) {
                        Todo.delete($scope.todos[i]);
                        $scope.todos = Todo.query();
                    }
                }])
    </script>
</head>
<body ng-app="rest">
    <div ng-controller="TodosController">
        <div>

            <button>Query</button>
            <div>
                <p ng-repeat="todo in todos">{{ todo }} <a href="#" ng-click="edit($index)">edit</a> <a href="#" ng-click="remove($index)">delete</a> </p>

            </div>
        </div>

        <div>

            <h3>Add</h3>
            <div>
               <label>Text</label>
                <input ng-model="todo.text">
            </div>
            <div>
                <label>Done<input type="checkbox" ng-model="todo.done"></label>
            </div>
            <div>
                <button ng-click="add()">Add</button>
            </div>
        </div>
    </div>
</body>
</html>